/posts
/__pycache__
/videos


/modules/voice_generation/elkey.py
/modules/voice_generation/elvoiceids.env

/modules/reddit_scraper/reddit_api_details.py
modules/voice_generation/elvoiceids.py
modules/voice_generation/__pycache__/elkey.cpython-37.pyc
modules/voice_generation/__pycache__/generatevoice.cpython-37.pyc
/modules/video_editor/__pycache__
/modules/reddit_scraper/content_moderation/ban_lists/__pycache__
/modules/reddit_scraper/content_moderation/__pycache__
/modules/reddit_scraper/__pycache__
.mp4TEMP_MPY_wvf_snd.mp4
modules/video_editor/vid.mp4
modules/video_editor/newvid.mp4
modules/video_editor/audio.mp3
temp.wav
/modules/description_generation/__pycache__
modules/description_generation/chat_gpt_api_key.py
/modules/tiktok/__pycache__
modules/tiktok/tiktok_details.py
credentials.json
